html {
  line-height: 1.5;
}
/* HEADER */
.header_content nav a {
  transition: all 0.5s;
}
.header_content nav a:hover {
  color: #4f47e5;
}
.header i {
  display: inline-block;
  font-size: 10px;
}

/* CAROUSEL */
.carousel_button a {
  padding: 10px 28px;
  border-radius: 30px;
  border: 2px solid #6366f1;
  text-align: center;
  transition: all 0.5s;
}

/* FEATURE */
.feature_item ul li i {
  color: white;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 10px;
}
